.clip-container-center{
  width: 100%;

  text-align: center;
}
.clip-container{
  position: relative;
  width: 513px;
  height:520px;
  background-color: #222;
  border: 5px solid white;
  border-radius: 8px;
  align-content: center;
  margin:auto;
}

.clip-container .clip{
position: absolute;
top:0;
  text-align:center;
width: 100%;
height: 100%;
transition: 0.5s;

}
.clip-container .clip.clip1{
  background: url(images/joker2.jpg);
  clip-path: polygon(-1% -1%, 55% -1%, 15% 100%, -1% 100%);
    background-size: 100% 100%;
}
.clip-container .clip.clip2{
  background: url(images/spider.jpg);
  clip-path: polygon(45% 0, 80% 0, 55% 100%, 15% 100%);
    background-size: 100% 100%;
}
.clip-container .clip3{
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 55% 100%);
background: url(images/water2.jpg);
    background-size: 100% 100%;
}
.clip-container:hover .clip{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.clip-container .clip:hover {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}

.content{
  position: absolute;
  bottom: -100%;
  left:0;
  width: 70%;
  padding: 10px;
  margin-top: -17px;
  padding-bottom: -30px;
  background: white;
  color: black;
  font-family: fantasy;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s;
  border-top-right-radius: 16px;
  border-right: 5px solid black;
 border-top: 5px solid black;
 border-left: 5px solid white;
border-bottom: : 5px solid white;
}
.clip-container .clip:hover .content{
bottom:0;
opacity: 1;}
